# Data output
/bronze/*
!/bronze/.gitkeep
/silver/*
!/silver/.gitkeep
/gold/*
!/gold/.gitkeep

# Environnement & Secrets
/venv/
.env
.secrets
.python-version

# Python & Cache
__pycache__/
*.pyc
*.pyd
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Système
.DS_Store

# Logs
*.log

# IDE
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
.idea/

.venv
.secret

# Notebooks

*.ipynb
notebooks/niveau_vie_pauvrete/lyon_niveau_vie_pauvrete_2017_200m_bronze.ipynb
