/venv/

/bronze/*
!/bronze/.gitkeep
/silver/*
!/silver/.gitkeep
/gold/*
!/gold/.gitkeep

__pycache__/
*.pyc
*.pyd
*.pyo

.DS_Store

*.log

.idea/      
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
