# for act
DOCKERHUB_USERNAME=pseudo_dockerhub
DOCKERHUB_TOKEN=path_access_token

# for mysql connection
MYSQL_ROOT_PASSWORD:
MYSQL_DATABASE: lyon_decisional
MYSQL_USER: lyon_user
MYSQL_PASSWORD: lyon_secure_password_2026

# test
TEST: blalala
